/* ---------------------------------------------------------
	MODULE: CREDIT LISTS
--------------------------------------------------------- */

.credit-lists {
	margin: 40px 0 15px;

	h2 {
		margin-bottom:12px;
		margin-left: 20px;
	}

	.panel {
		margin-bottom: -10px;
	}
} // credit-lists
