/* ---------------------------------------------------------
	MODULE: EXCERPT BLOCKS
--------------------------------------------------------- */

.excerpt-blocks {
	margin-top: 53px;
	font-weight: 200;
	font-size: 16px;

	@media (max-width: $screen-xs-max) {
		margin-top: 38px;
	}

	.media {
		display: table;
		width: 100%;
		margin-bottom: 20px;
		border-top: 1px solid $gray-light;
		border-bottom: 1px solid $gray-light;
	}

	.media-body {
		display: table-cell;
		width: 100%;
		padding: 15px 0 10px;
		vertical-align: middle;
	}

	.media-heading {
		margin-bottom: 4px;
		font-size: 22px;
		line-height: 1.1;
	}
} // content-excerpt-blocks